/* STYLES MOBILES */

@media screen and (max-width: 768px) {
  header {
    height: auto;
    margin: 0;
  }

  .header__logo--lien {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .header__logo {
    display: none;
  }

  .header__logo--mobile {
    height: 70px;
  }

  .header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .header__menu--lien {
    width: 100%;
    border-bottom: var(--bleu-clair) 3px solid;
    padding: 20px 20px 10px 20px;
  }

  .header__menu--lien:hover,
  .header__menu--lien:focus {
    color: var(--bleu);
    border-top: none;
    border-bottom: var(--bleu) 3px solid;
  }

  /* MAIN */
  main {
    margin: 0;
  }

  /* formulaire de recherche */
  #form-search {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .form-search__form {
    margin: 10px 0;
  }

  .form-search__container {
    justify-content: center;
  }

  .form-search_title {
    margin-top: 10px;
  }

  .form-search__button {
    position: relative;
    right: 15px;
    max-width: 50px;
    min-width: 50px;
    border-radius: 15px;
    margin-right: -10px;
    color: var(--blanc);
  }

  .form-search__button-text {
    display: none;
  }

  .form-search__button-icon {
    display: initial;
  }

  /* filtres */
  .form-search__filter-title {
    margin: 10px 10px 10px 0;
  }

  .form-search__filter-item {
    margin: 5px;
  }

  .form-search__filter-item--subtitle {
    padding: 10px;
  }
}
